
.center {
  margin-left: auto; 
  margin-right: auto;
}
th, td {
    border:1px solid black;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: .5vh;
    padding-bottom: .5vh;
    width: 8vw;
    height: 1vh;
    text-align: center;
    vertical-align: middle;
  }
  
  td.question{
    width:60vw;
    text-align: left
  }

  th.radio {
    width: 20vw;

  }

  td[colspan="7"] {

    font-weight: bold;

    

  }

  table{
    width: 90vw;
    margin-bottom: 0px;
  }

  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  
  h1 {
    text-align: center;
    padding:0;
    margin:0;

  }

  h4{
    text-align: center;
  }

  h2{
    text-align: center;
  }

  h3{
    text-align: center;
  }

  form{
    text-align: center;
  }
  
  p {
    margin: 0 0 1em 0;
  }
  
 
  
  .containervert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
  }  
  
  .t1{
    text-align: center;
    vertical-align: top;
    font-size: 2vh;
    font-weight: bold;
  
  }
  
  .t2{
    text-align: center;
    vertical-align: center;
    font-size: 1.5vh;
    Padding: 20px;
  
  }

  .t3{
    text-align: center;
    vertical-align: center;
    font-size: 1.45vh;
    Padding: 10px;
  }
  .t4{
    text-align: justify;
    vertical-align: top;
    font-size: 2vh;
    font-weight: bold;
    padding-left: 150px;
    padding-right: 150px;
  
  }
  .container_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;
    align-content: space-evenly;
  
  }
  .container_layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    margin:auto;
  }

  .item {
    width: 10vw;
    height: 14vh;
    padding: 10px;
    align-content: center;
    background-color: rgb(255,255,255);
    border: 2px solid black;
    
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 3vh;
    border-radius: 15px;
    box-sizing: border-box;
  }

  .item_1, .item_2, .item_3, .item_4, .item_5, .item_6, .item_7, .item_8, .item_9, .item_10 {
    width: 8vw;
    height: 14vh;
    padding: 10px;
    align-content: center;
    background-color: white;
    border: 2px solid black;
    
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 2vh;
    border-radius: 15px;
    box-sizing: border-box;
  }
 
  .triangle-right {
      width: 0;
      height: 0;
      border-top: 2vw solid transparent;
      border-left: 5vh solid #030303;
      border-bottom: 2vw solid transparent;
  
  }
  
  .item_LoO_Name {
    width: 10vw;
    height: 18vh;
    text-align: center;
    align-content: center;
    background-color: black;
    border: 2px solid black;
    display: inline-block;
    color: white;
    border-radius: 15px;
    box-sizing: border-box;
  }

  .item_Outcome_Name {
    width: 10vw;
    height: 18vh;
    text-align: center;
    align-content: center;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    color: black;
    border-radius: 15px;
    box-sizing: border-box;
  }
  .space {
    width: 1vw;
    height: 5vh;
  
    background-color: rgb(0, 0, 0);
    display: inline-block;
  }
  
  .spaceblank {
    width: 2vw;
    height: 4vh;
  
    background-color: "white";
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  
  .radio_text {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20vh;
    align-self: flex-start;
  
  }

  textarea {
    width: 60vw;
    height: 5vh;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #382c2c;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: top;
  }

  input[type=submit] {
    width: 5vw;
    background-color: #4025f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #160287;
  }
  textarea:focus {
    background-color: lightgray;
  }

  button:hover {
    background-color: #160287;
  }
  button {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    height: 5vh;
    width: 10vw;
    background-color: #4025f4;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    font-size: 1.5vh;
    cursor: pointer;
    text-align:center;
  }

  img {
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }



  #path_cm, #path_rm, #path_is, #path_bc, #path_hr, #path_ict, 
  #path_sc, #path_fa, #path_env, #path_hs, #path_em, #path_center {
    fill: "none";
    opacity: 0;
  }

  #path_cm:visited, #path_rm:visited, #path_is:visited, #path_bc:visited, #path_hr:visited, #path_ict:visited, 
  #path_sc:visited, #path_fa:visited, #path_env:visited, #path_hs:visited, #path_em:visited, #path_center:visited {
    fill: red;
    opacity: .5;
  }
  

  link:visited svg path{
    fill: red;
    opacity: .5;
  }

  .container {
    display: flex;
    flex-direction: row;
    width:98vw;
    align-items: top;
    justify-content: center;
    margin-bottom: 1vh;
    border-spacing: 1vw 1vh;

  }

  td.drilldown{
    width: 28vw;
    height: 28vh;
    border-radius: 20px;
  }

  td.area {
    text-align: left;
    width: 50vw;
  }

  /* container for results page */
.container_results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  margin-bottom: 0px;
  margin: auto;
}


/* Setup rows as flex box to allow multiple columns*/

.row {
  display: flex;
  justify-content: center;

  margin-right: 1vw;
  gap: .8vw;


}

/* Table with no borders */
td.nb {
  border: none;
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

/* large text wih no border */

td.nbl {
  border: none;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
/* Used to center and make bold text in table on final results as child of td*/

td.areabold {
  text-align: center;
  width: 50vw;
  font-weight: bold;
}

td.bold {
  text-align: center;
  font-weight: bold;
}

/* Format for header buttons */
ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
}

li.header {
  float: right;
  display: block;
  padding: 10px;
  width: 60px;
  margin: 5px;
  background-color: blue;
  color: white;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

li.header:hover {
  background-color: #160287;
}

